body {
    background-color: #EEE;
    color: #99D;
    padding-top: 30vh;
    text-align: center;
}

div {
	text-align: left;
	display: inline-block;
}

a {
	color: #77D;
	text-decoration: none;
}

a:visited {
	color: #77D;
}

a:hover {
	color: #00D;
}